body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

h1 {
  color: #3d3d3d;
}.center-text {
  text-align: center;
}
a {
  display: inline-block;
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: #252525; /* Background color of the box */
  color: #fff; /* Text color */
  text-decoration: none; /* Remove default underline from the hyperlink */
  border-radius: 5px; /* Optional: Add rounded corners */
}
